version: "3.7"

services:
  oratoria_elite:
    image: oratoria_elite:v4
    networks:
      - elprofessornet
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        # Regra para o domínio e o caminho específico
        - traefik.http.routers.oratoria_elite.rule=Host(`cursos.elprofessordaoratoria.com.br`) && PathPrefix(`/oratoria-de-elite`)
        - traefik.http.routers.oratoria_elite.entrypoints=websecure
        - traefik.http.routers.oratoria_elite.tls.certresolver=letsencryptresolver
        - traefik.http.routers.oratoria_elite.service=oratoria_elite
        - traefik.http.services.oratoria_elite.loadbalancer.server.port=80
        - traefik.http.services.oratoria_elite.loadbalancer.passHostHeader=true

networks:
  elprofessornet:
    name: elprofessornet
    external: true
